body, h1, h2, h3, h4, h5,h6, p{
    font-family: "Lexend", sans-serif;
}


.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    /* filter: blur(1px); */
    backdrop-filter: blur(5px);
}

.sticky + .content{
    margin-top: 102px;
}

.homeButton{
    padding-left: 20px;
    background-color: #B4F461;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
}